* {
	-webkit-font-smoothing:antialias;
}



/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 42px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

header {
	text-align: center;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.active {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	/*background-repeat: no-repeat;
	background-size: cover;*/
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}
section {
	height:	100vh;
	background-repeat: repeat;
	background-size: auto;
}
#fbsection1 {
	background-image: linear-gradient(45deg, rgba(26,188,156,0.6) 0%,rgba(46,204,113,0.6) 100%), url(../images/3.png);

}
#fbsection2 {
	background-image: linear-gradient(45deg, rgba(26,188,156,0.1) 0%,rgba(52,152,219,0.1) 100%), url(../images/2.png);	
}
#fbsection3 {
	background-image: linear-gradient(45deg, rgba(26,188,156,0.1) 0%,rgba(46,204,113,0.1) 100%), url(../images/1.gif);
}
#fbsection4 {
	background-image: linear-gradient(to bottom, rgba(149,165,166,0.3) 0%,rgba(127,140,141,0.3) 100%), url(../images/4.png);
}
#fbsection5 {
	background-image: linear-gradient(80deg, rgba(44,62,80,0.4) 0%,rgba(0,0,0,0.4) 50%,rgba(44,62,80,0.4) 50%,rgba(44,62,80,0.4) 100%), url(../images/5.png);
}

.flex-wrap {
	display: flex;
	flex: 1;
	width:100%;
	height:65vh;
	padding:35vh 0 0 0;
	justify-content:center;
}
.flex-col-6 {
	width:50%;
	min-height:65vh;
	text-align: center;
	overflow: hidden;

}

.ipad .screen {
	background: #0d3477;
	background: -moz-linear-gradient(top, #0d3477 0%, #adf3de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d3477), color-stop(100%, #adf3de));
	background: -webkit-linear-gradient(top, #0d3477 0%, #adf3de 100%);
	background: -o-linear-gradient(top, #0d3477 0%, #adf3de 100%);
	background: -ms-linear-gradient(top, #0d3477 0%, #adf3de 100%);
	background: linear-gradient(to bottom, #0d3477 0%, #adf3de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d3477', endColorstr='#adf3de',GradientType=0 );
}


.iphone6plus.black .screen, .iphone6plus.silver .screen, .iphone6 .screen {
	background:#e2e4e4;
	background:-moz-linear-gradient(top, #e2e4e4 0%, #7d8281 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e4e4), color-stop(100%, #7d8281));
	background:-webkit-linear-gradient(top, #e2e4e4 0%, #7d8281 100%);
	background:-o-linear-gradient(top, #e2e4e4 0%, #7d8281 100%);
	background:-ms-linear-gradient(top, #e2e4e4 0%, #7d8281 100%);
	background:linear-gradient(to bottom, #e2e4e4 0%, #7d8281 100%);
}


h4 {
	font-weight: 200 !important;
	line-height: 1.5em;
}



