footer {
	// background:#aab2b5;
	background:#333;
	// position:fixed;
	width:100%;

	min-height:400px;
	// margin-top:-60px;
	z-index:99999;
	padding-top:20px;
	position:relative;



.svg-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 10px 0 0 -5px;
  width: 400px;  
}
.shape {
  stroke-dasharray: 200 540;
  stroke-dashoffset: -492;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: $font-family-serif;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 8px;
  padding-left: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-box:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}





.hexes{
  width: 335px;
  height:661px;
  position: absolute;
  right:0;
  bottom:0;
  overflow:hidden;
}

.honeycomb {
  @include hex (154px, white);
  position: absolute;
  opacity:0.4;
}
//types//
.type1 {
  box-shadow: 0px 0px 0px white;
  opacity:0.1;
}
.type2 {
  box-shadow: 0px 0px 10px white;
  opacity:0.2;
}
.type3 {
  box-shadow: 0px 0px 20px white;
  opacity:0.4;
}
/// each hex ////
.terminal_honeycomb1{
  left:193px;
  top:181px;
}
.terminal_honeycomb2{
  left:193px;
  top:346px;
}
.terminal_honeycomb3{
  left:51px;
  top:263px;
}
.terminal_honeycomb4{
  left:51px;
  top:426px;
}
.terminal_honeycomb5{
  @include hex (74px, white);
  left:0px;
  top:385px;
}
.terminal_honeycomb6{
  @include hex (74px, white);
  left: 147px;
  top: 226px;
}
.terminal_honeycomb7{
  @include hex (28px, white);
  left: 137px;
  top: 170px;
}
.terminal_honeycomb8{
  @include hex (140px, white);
  left: 293px;
  top: 40px;
}
.terminal_honeycomb9{
  @include hex (64px, white);
  left: 250px;
  top: 0px;
}
.terminal_honeycomb10{
  @include hex (273px, white);
  left: 234px;
  top: 204px;
}
.terminal_honeycomb11{
  @include hex (220px, white);
  left: 218px;
  top: 438px;
}




$iconsize: 140px; 
$cymbidium: #b3c33a;

// *, *:before, *:after {
//   -webkit-box-sizing: border-box; 
//   -moz-box-sizing: border-box; 
//   box-sizing: border-box;
// }



.icons {
  margin-left:-20px;
  width: 800px;
  margin: 60px auto 0;
  padding: 0;
  cursor: pointer;
}

.icon{
  width: $iconsize;
  height: $iconsize;
  padding-right: 20px;
  fill: rgba($cymbidium, 0);
  stroke: $cymbidium;
  stroke-width: 2px;
  transition: all 0.25s ease;
  &:hover, &:focus {
    fill: $cymbidium;
    transition: all 0.15s ease;
  }
}




}