/* Layout Size */
$main-header-height : 60px;

/* Colors */

$color__green: 			#09B39C;
$color__green--light: 	#1EC6AA;

$color__grey: 			#989898;

$color1: 				#333;
$color2: 				#638F91;
$color3: 				#A2CCB4;
$color4: 				#C3D9C5;
$color5: 				#AFD2BD;


@media screen and (max-width: 767px) {
$triangle-size:		12px;	
}
$triangle-size:		25px;

// fonts
$font-size-base:          16px !default;
$font-family-sans-serif:  'Open Sans', sans-serif !default;
$font-family-serif:       'Source Sans Pro', sans-serif !default;

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


// boostrap overrides:



