/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "compass/css3";


@import "site-settings";
@import "vendor/bootstrap/bootstrap";
@import "vendor/fontawesome/font-awesome";
@import "header";
@import "utils";
@import "footer";


body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */	
}

// typo
* {
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5 {
	font-family:$font-family-serif;
}


h1,h2 {color:white;letter-spacing:1px;font-weight:700;}
h3 {
	color:white;
}

i {
	font-weight:200;
}

section {
	padding:2em 0 4em 0;
	position:relative;
	&.toEdge {
		padding:0;
	}

	h2 {
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
		text-rendering:optimizeLegibility;
	}

	.img-circle {
		min-width: 100%;
		//min-height:165px;

		&:before{content:"";display:block;margin-top:100%;}

		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
		border:2px solid grey;
		padding: 0.2em;
		background-clip: content-box;
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		margin:8px 0;
		@include opacity(0.6);
		@include single-transition(all,0.5s,ease,0);

		&:hover, &.ui-scrollfix {
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			filter: grayscale(0);
			@include opacity(1);
		}
	}

	&.techimages.ui-scrollfix {
		@extend %afix;
	}

	.fa-ul {
		li {
			color:white;
			font-size:20px;
			&:nth-child(0) {@include single-transition(all,1.0s,ease,0.5);}
			&:nth-child(1) {@include single-transition(all,1.0s,ease,1s);}
			&:nth-child(2) {@include single-transition(all,1.0s,ease,1.5s);}
			&:nth-child(3) {@include single-transition(all,1.0s,ease,2s);}
			&:nth-child(4) {@include single-transition(all,1.0s,ease,2.5s);}
			&:nth-child(5) {@include single-transition(all,1.0s,ease,3.0s);}
			&:nth-child(6) {@include single-transition(all,1.0s,ease,3.5s);}
			&:nth-child(7) {@include single-transition(all,1.0s,ease,4.0s);}
			
			

			@include translate3d(175%,0,0);

			&.ui-scrollfix {
				@include translate3d(0,0,0);	
			}
		}
	}

}



.content {
	padding-top:$main-header-height;
}


.hero {
	background:$color3;
	h1 {
		font-size:45px;		
		@media (min-width: 1024px) {
			font-size:90px;
		}		
		span {
			font-weight: 500;
		}
	}
	h3 {
		font-weight:200;
		-webkit-font-smoothing: antialiased;
		text-rendering:optimizeLegibility;
	}
	&:after {
		@extend %triangle;
		left: 4%;
		right: auto;		
		border-top: 30px $color3 solid;		
	}
}

.section.color1 {
	background:$color1;
	h1,h2,h3 {
		color:white;
	}
	&:after {
		@extend %triangle;
		left: 4%;
		right: auto;
		border-top: 30px $color1 solid;		
	}
}
.section.color2 {
	background:$color2;
	h1,h2,h3 {
		color:white;
	}
	&:after {
		@extend %triangle;
		right: 4%;
		left: auto;
		border-top: 30px $color2 solid;		
	}
}
.section.color3 {
	background:$color3;
	h1,h2,h3 {
		color:white;
	}
	&:after {
		@extend %triangle;
		left: 4%;
		right: auto;
		border-top: 30px $color3 solid;		
	}
}
.section.white {
	background:white;
	h1,h2,h3 {
		color:black;
	}
	&:after {
		@extend %triangle;
		left: 4%;
		right: auto;
		border-top: 30px white solid;		
	}
}





// move to module/map
.map-canvas { 
	width:100%;
	height: 400px; 

	h1 {
		color:black;
		font-size:12px;
	}
	p {
		color:black;
		font-size:10px;	
	}
}





// move to _helpers
%triangle {
	bottom: -30px;
	content: '';
	position: absolute;
	border-left: transparent 30px solid;
	border-right: transparent 30px solid;
	z-index: 200;
}









