<div class="container">
	<div class="row">
		<div class="col-xs-6">
			
			<div class="svg-box">
			  <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
			    <rect class="shape" height="60" width="320" />
			    <div class="text">MADS MØLLER SØRENSEN</div>
			  </svg>
			</div>

			<div ng-include="'/views/partials/social_icons_svg.html'"></div>
			<div class="icons">				
				<svg class="icon" viewBox="0 0 216 216">
				<use xlink:href="#codepen"></use>
				</svg>	
				<svg class="icon" viewBox="0 0 216 216">
				<use xlink:href="#github"></use>
				</svg>			
				<svg class="icon" viewBox="0 0 216 216">
				<use xlink:href="#linkedin"></use>
				</svg>
				
			</div>

		</div>				
		<div class="col-xs-6"></div>				
	</div>	
</div>



<div class="hexes">
  <div class="honeycomb type1 terminal_honeycomb1"></div>
  <div class="honeycomb type2 terminal_honeycomb2"></div>
  <div class="honeycomb type3 terminal_honeycomb3"></div>
  <div class="honeycomb type1 terminal_honeycomb4"></div>
  <div class="honeycomb type2 terminal_honeycomb5"></div>
  <div class="honeycomb type2 terminal_honeycomb6"></div>
  <div class="honeycomb type1 terminal_honeycomb7"></div>
  <div class="honeycomb type2 terminal_honeycomb8"></div>
  <div class="honeycomb type3 terminal_honeycomb9"></div>
  <div class="honeycomb type3 terminal_honeycomb10"></div>
  <div class="honeycomb type1 terminal_honeycomb11"></div>
</div>