<header>
	<div class="container">
		



		<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars">
            	<div class="hex"></div>
            </i>

          </button>          
        </div>
        <div class="collapse navbar-collapse">
          
	        <div class="row">
				<div class="col-xs-3 col-sm-6">	
					<div class="hidden-xs hidden-sm">

							<div class="svg-box">
							  <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
							    <rect class="shape" height="60" width="320" />
							    <div class="text">MADS MØLLER SØRENSEN</div>
							  </svg>
							</div>

					</div>
				</div>
				<div class="col-xs-9 col-sm-6">
					<ul class="nav navbar-nav">
						<li><a ui-sref-active="active" ui-sref="home">home</a></li>
						<li><a ui-sref-active="active" ui-sref="about">about</a></li>
						<li><a ui-sref-active="active" ui-sref="work">work</a></li>
						<li><a ui-sref-active="active" ui-sref="cv">CV</a></li>
						<li><a ui-sref-active="active" ui-sref="contact">contact</a></li>
					</ul>
				</div>	
			</div>

        </div><!-- /.nav-collapse -->


        

		
	</div>	
</header>