<header>
	<div class="container">
		



		<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>          
        </div>
        <div class="collapse navbar-collapse">
          
	        <div class="row">
				<div class="col-xs-2">			
				</div>
				<div class="col-xs-10">
					<ul class="nav navbar-nav">
						<li><a ui-sref-active="active" ui-sref="home">home</a></li>
						<li><a ui-sref-active="active" ui-sref="about">about</a></li>
						<li><a ui-sref-active="active" ui-sref="work">work</a></li>
						<li><a ui-sref-active="active" ui-sref="cv">CV</a></li>
						<li><a ui-sref-active="active" ui-sref="contact">contact</a></li>
					</ul>
				</div>	
			</div>

        </div><!-- /.nav-collapse -->


        

		
	</div>	
</header>