

<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Welcome to my <i>portfolio</i></h1>
				<h3>- developer with an emphasis on client-side technologies</h3>
			</div>
		</div>
	</div>
</section>
<section class="section color2 techimages">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right">what I work with</h2>	
			</div>			
		</div>
		<div class="row">			
			<div class="col-xs-4 col-sm-2">
				<img src="images/html5.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/css3.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/angularjs-logo.png" class="img-circle img-thumbnail"  ui-scrollfix="+200">
			</div>						
			<div class="col-xs-4 col-sm-2">
				<img src="images/wordpress.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/PHP-logo.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/mysql.png" class="img-circle img-thumbnail">
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-2">
				<img src="images/sass.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/compass.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/bootstrap.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/grunt-logo.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/d3.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/github.png" class="img-circle img-thumbnail">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
					
			</div>
			<div class="col-xs-6">
				
			</div>
		</div>
	</div>
</section>
<section class="section toEdge">

	<article id="map" ng-controller="MapCtrl">
		<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
	             ui-event="{'map-click': ''}">
	    </div>

	    <div ui-map-info-window="myInfoWindow">
	          <h1>my place</h1>
	          <p>is here</p>
	        </div>
	    </div>	

		<div ui-map="myMap"ui-options="mapOptions" class="map-canvas" ui-event="{'map-click': 'centerMe()', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"></div>

	</article>
	
</section>		
<section class="section color3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-left imposed">Key competencies</h2>	
			</div>			
		</div>		
		<div class="row">
			<div class="col-xs-12 col-sm-11 col-sm-offset-1">
				<br>
				<ul class="fa-ul">
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i><strong>PHP & MySQL</strong> (including various php based CMS/frameworks primarily WordPress)</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>AngularJS</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>HTML5</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>CSS3</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>Sass + compass</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>Twitter bootstrap + responsive design</li>
				  <li ui-scrollfix="300"><i class="fa-li fa fa-circle-o"></i>D3, google maps api etc.</li>
				</ul>		
			</div>			
		</div>
	</div>
</section>	











