

<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Welcome to my <i>portfolio</i></h1>
				<h3>- developer with an emphasis on client-side technologies</h3>
			</div>
		</div>
	</div>
</section>
<section class="section color2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-right">what I work with</h2>	
			</div>			
		</div>
		<div class="row">			
			<div class="col-xs-4 col-sm-2">
				<img src="images/html5.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/css3.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/angularjs-logo.png" class="img-circle img-thumbnail">
			</div>						
			<div class="col-xs-4 col-sm-2">
				<img src="images/wordpress.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/PHP-logo.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/mysql.png" class="img-circle img-thumbnail">
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-2">
				<img src="images/sass.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/compass.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/bootstrap.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/grunt-logo.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/d3.png" class="img-circle img-thumbnail">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="images/github.png" class="img-circle img-thumbnail">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
					
			</div>
			<div class="col-xs-6">
				
			</div>
		</div>
	</div>
</section>
<section class="section color1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			</div>
		</div>
	</div>
</section>			

